{% extends 'base.html' %}

{% block title %}
    请假
{% endblock %}

{% block label %}


{% endblock %}
{% block content %}

    <form method="post">

        <table class="table table-bordered">
            <tr>
                <th colspan="4" style="text-align: center;font-size: 30px"><b>请假条</b></th>
            <tr>
                <th>请假人姓名</th>
                <td><input type="text" name="request_user" class="form-control form-control-user" placeholder="请假人"></td>
                <th>请假类型</th>
                <td>
                    <select name="request_type" class="form-control form-control-user">
                        <option>事假</option>
                        <option>病假</option>
                        <option>婚假</option>
                        <option>产假</option>
                        <option>年假</option>
                        <option>缺勤</option>
                        <option>加班</option>
                        <option selected="selected">调休</option>
                        <option>出差</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>联系方式</th>
                <td><input type="text" name="phone" class="form-control form-control-user"></td>
                <th>请假天数</th>
                <td>0天</td>
            </tr>
            <tr>
                <th>起始时间</th>
                <td><input type="date" name="start_time" class="form-control form-control-user"></td>
                <th>结束时间</th>
                <td><input type="date" name="end_time" class="form-control form-control-user"></td>
            </tr>
            <tr>
                <th>描述</th>
                <td colspan="2">
                    <textarea name="request_description" class="form-control form-control-user">
                    </textarea>
                </td>
                <td>
                    <input type="submit" value="提交" class="btn btn-user btn-warning">
                </td>
            </tr>
        </table>
    </form>

{% endblock %}